.row
  .col-md-offset-4
    =link_to('Todos', url(:all), :class => 'btn btn-primary')
    =link_to('Agrupados', url(:grouped), :class => 'btn btn-info')
    =link_to('Todos con umbral', url(:threshold), :class => 'btn btn-warning')
    =link_to('Debajo del umbral', url(:below), :class => 'btn btn-danger')
