.row
  .col-md-offset-4
    =link_to('Todos (con umbral)', url(:all), :class => 'btn btn-primary')
    =link_to('Promedio', url(:grouped), :class => 'btn btn-info')
    =link_to('Sobre el umbral', url(:above), :class => 'btn btn-danger')
