-# encoding: utf-8

%table#list.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th.header Id
      %th.header Fecha
      %th.header Valor
      %th.header Concentración

  %tbody
    -@historical.each do |h|
      %tr.list-row
        %td.list-column=h.grd_id
        %td.list-column=h.timestamp
        %td.list-column=h.value
        %td.list-column=((h.value - 2500) / 3.2) / 1000
