-# encoding: utf-8
!!! 5
%html{'xml:lang' => 'es_AR', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{charset: "utf-8"}
    %title Siafa - Dusttrak
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag 'bootstrap.min', 'bootstrap-theme',
        'bootstrap-datepicker', media: 'screen'

  %body
    .container
      %h1 Siafa
      %h2 Dusttrak
      = yield
